doctype html
html(lang="en")
    head
        title="User Index"
    body
        h1 Hello admin
        p This page is yours to control
        p your details are
        ul
            li Email: superAdmin.email
            li Password: superAdmin.password
